
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.title %}<title>{{ page.title }} | Pookhao S C</title>{% else %}
    <title>Pookhao S C</title>{% endif %}
    <link rel="stylesheet" href={{ "/assets/bulma.css" }}>
    <link rel="stylesheet" href={{ "/assets/cobblestone.css" }}>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    
    {% seo %}
</head>

<body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="{{ site.url }}" class="navbar-item">
                <span class="subtitle is-5">Pookhao Chinpongsuwan</span>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="{{ site.baseurl }}/thresholds/" class="navbar-item">Photography</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <!--  -->
                </div>
            </div>
        </div>
    </nav>

    {{content}}

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Copyright &copy; 2021 Pookhao Chinpongsuwan
            </p>
        </div>
    </footer>

    
</body>
</html>
