---
layout: base
title: Home
---

<section class="section">
    <meta http-equiv="refresh" content="0; url=/thresholds/">
    <link rel="canonical" href="/thresholds/" />
</section>

<div class="section mt-6">
    <div class="container is-max-widescreen">
        <div class="columns">
            <div class="column is-half">
                <!-- <h1 class="title is-2">Pookhao Chinpongsuwan</h1> -->
                <p class="block">
                    <!--  -->
                </p>
            </div>
        </div>
    </div>
</div>
